// a main stylus for all the global stylus functions

level(lvl)
  z-index lvl
  // position relative
 
bgImg(image)
  url image + '.jpg'
  background-image url(url)
  background-size cover
  overflow hidden
  background-position bottom

initialContainer()
  left 0
  width 100%
  
  
    	
    
  
  
    