
head
    title bluetooth
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")

template(name="main")
    body
        +header
        +imageBody
        +wifiConnection
        +footer

template(name="header")
    .pane
        .leftCol
            i(class="inverted huge angle left icon")
        .rightCol
            i(class="inverted huge angle right icon") 

template(name="footer")
    .text Hello World






        
    

